<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!isShowSearch">纪念日</ion-title>
    <ion-searchbar *ngIf="isShowSearch"></ion-searchbar>
    <ion-buttons end>
      <button class="toolbar-button" (click)="isShowSearch=!isShowSearch">
        <ion-icon name="search"></ion-icon>
      </button>
      <button class="toolbar-button"  (click)="add($event)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item *ngFor="let c of redletterDaies">
        <div>
          <span class="fdName">{{c.fdCustomer.fdName}}</span>
          <span class="fdTel">{{c.fdDate}}</span>
          <span class="fdCar">{{c.fdType}}</span>
        </div>
        <div>
          <span class="fdBuyPurpose">{{c.fdContent}}</span>
        </div>
      </ion-item>
  </ion-list>
</ion-content>
