<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isOn">List</ion-title>
    <ion-searchbar *ngIf="isOn"></ion-searchbar>
    <ion-buttons end>
      <button (click)="isOn=!isOn" >
        <ion-icon name="search"></ion-icon>
      </button>
      <button (click)="addRow()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>

  </ion-toolbar>
</ion-footer>
