page-contract{
  .fdName{
    font-size: 2rem;
    font-weight: 400;
    color: #333;
  }
  .fdStartTime{
    font-size: 1.5rem;
    color: #666;
  }
  .fdTotal{
    font-size: 1.5rem;
    color: #666;
  }
  .fdProducts{
    font-size: 1.4rem;
    margin-bottom: .16rem;
    color: #666;
  }
}
