<ion-header>
  <ion-navbar>
    <ion-title>新建合同</ion-title>
    <ion-buttons end>
      <button class="toolbar-button"  ion-button  (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-card>
      <ion-card-header>
        合同信息<ion-badge item-end>{{contract.fdTotal}}</ion-badge>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label color="primary">合同类型</ion-label>
            <ion-select [(ngModel)]="contract.fdIsSale"  (ionChange)="changeContractType()">
              <ion-option value="true">销售</ion-option>
              <ion-option value="false">退货</ion-option>
            </ion-select>
          </ion-item>
            <ion-item>
              <ion-label color="primary">合同日期</ion-label>
              <ion-datetime cancelText="取消" doneText="确定" dataformatas="YYYY-MM-dd" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="contract.fdStartTime"></ion-datetime>
            </ion-item>
            <button ion-item (click)="selectCustomer()">
              <ion-label color="primary">选择客户</ion-label>
              <ion-label >{{contract.fdCustomerName}}</ion-label>
            </button>
        </ion-list>
      </ion-card-content>
    </ion-card>

  <ion-card>
    <ion-card-header>
        <span>产品信息</span>
        <ion-badge item-end>{{contract.fdTotal}}</ion-badge>
        <ion-buttons right>
          <button (click)="insertNewProduct()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-buttons>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <button ion-item ion-item detail-none *ngFor="let p of contract.fdProducts;let i=index;" (click)="editProduct(p);">
          <ion-grid>
            <ion-row >
              <ion-col col-12 >
                  <span>{{p.fdName}}</span>
              </ion-col>
            </ion-row >

            <ion-row>
              <ion-col col-2 >
                <span [innerText]="p.fdNum"></span>瓶
              </ion-col>
              <ion-col col-1 >
                <span>*</span>
              </ion-col>
              <ion-col col-2 >
                <span [innerText]="p.fdRetailPrice"></span>元
              </ion-col>
              <ion-col col-1 >
                <span>=</span>
              </ion-col>
              <ion-col col-4 >
                <span class="productTotal">{{p.fdTotal}}元</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
