<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!isShowSearch">拜访记录</ion-title>
    <ion-searchbar *ngIf="isShowSearch" (ionInput)="search($event)"></ion-searchbar>
    <ion-buttons end>
      <button class="toolbar-button" (click)="isShowSearch=!isShowSearch">
        <ion-icon name="search"></ion-icon>
      </button>
      <button class="toolbar-button"  (click)="add($event)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item *ngFor="let c of followups">
        <div>
          <span class="fdName">{{c.fdCustomerName}}</span>
          <span class="fdTel">{{c.fdTime}}</span>
          <span class="fdCar">{{c.fdType}}</span>
        </div>
        <div>
          <span class="fdBuyPurpose">{{c.fdContent}}</span>
        </div>
        <div class="fdRemark">{{c.fdGift}}</div>
      </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="10%" enabled="hasMoreRecords" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
