page-adpage{
  .page-background{
    background-image:url('http://111.230.9.200:8080/sys/admin/ad/image/1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
}
