page-adpage{
  .page-background{
    background-image:url('http://pic1.win4000.com/wallpaper/8/53b21469c6af2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
}
