<ion-header>
  <ion-navbar>
    <ion-title>{{areaName}}</ion-title>
    <ion-buttons end>
      <button class="toolbar-button"  ion-button  (click)="gotoSetting()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
        <progress class="full-width" value="{{achieve.fdMonthCompleted}}" max="{{achieve.fdMonthAchieved}}"></progress>
        <ion-title class="content-title" float-left (click)="showMonthAchieve()">已完成{{achieve.fdMonthCompleted}}万{{achieve.getPercent(achieve.fdMonthCompleted,achieve.fdMonthAchieved)}}</ion-title>
        <ion-title class="content-title" float-right>月度{{achieve.fdMonthAchieved}}万</ion-title>
      <progress class="full-width" value="{{achieve.fdYearCompleted}}" max="{{achieve.fdYearAchieved}}"></progress>
      <ion-title class="content-title" float-left  (click)="showYearAchieve()">已完成{{achieve.fdYearCompleted}}万{{achieve.getPercent(achieve.fdYearCompleted,achieve.fdYearAchieved)}}</ion-title>
      <ion-title class="content-title" float-right>年度{{achieve.fdYearAchieved}}万</ion-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <span>纪念日提醒</span>
      <button ion-button icon-only float-end (click)="goToRedletterDay()">
        <ion-icon name="calendar"></ion-icon>
      </button>
    </ion-card-header>
    <ion-card-content style="height: 4.4rem;overflow-y:hidden ">
    <ion-list style="position: relative"  [@openClose]="dayIndexWithShowed">
      <ion-item *ngFor="let p of fdKeyDayTodoes" >
        <span>{{p.fdName}}</span>
      </ion-item>
    </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <span>回访提醒</span>
        <button ion-button icon-only float-end (click)="goToFollowup()">
          <ion-icon name="calendar"></ion-icon>
        </button>
    </ion-card-header>
    <ion-card-content style="height: 4.4rem;overflow-y:hidden ">
      <ion-list>
        <ion-item *ngFor="let p of fdFollowupTodoes" [@openClose]="dayIndexWithShowed">
          <span>{{p.fdName}}</span>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <span>今日计划</span>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let p of fdPlans">
          <span>{{p.fdContent}}</span>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
