<ion-header>
  <ion-navbar>
    <ion-title>湖南萄最酒业有限公司</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <progress class="full-width" value="{{achieve.fdMonthCompleted}}" max="{{achieve.fdMonthAchieved}}"></progress>
      <ion-title class="content-title" float-left>已完成{{achieve.fdMonthCompleted}}</ion-title>
      <ion-title class="content-title" float-right>月度{{achieve.fdMonthAchieved}}</ion-title>
      <progress class="full-width" value="{{achieve.fdYearCompleted}}" max="{{achieve.fdYearAchieved}}"></progress>
      <ion-title class="content-title" float-left>已完成{{achieve.fdYearCompleted}}</ion-title>
      <ion-title class="content-title" float-right>年度{{achieve.fdYearAchieved}}</ion-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>记念日提醒
      <button class="content-button" float-end (click)="goToRedletterDay()">
        <ion-icon name="calendar"></ion-icon>
      </button>
    </ion-card-header>
    <ion-card-content style="height: 4.4rem;overflow-y:hidden ">
    <ion-list style="position: relative"  [@openClose]="dayIndexWithShowed">
      <ion-item *ngFor="let p of fdRedletterDaies" >
        <span>{{p.fdKeyDay}}</span>
        <span>{{p.fdCustomerName}}</span>
        <span>{{p.fdName}}</span>
      </ion-item>
    </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      回访提醒
        <button class="content-button" float-end (click)="goToFollowup()">
          <ion-icon name="calendar"></ion-icon>
        </button>
    </ion-card-header>
    <ion-card-content style="height: 4.4rem;overflow-y:hidden ">
      <ion-list>
        <ion-item *ngFor="let p of fdFollowups" [@openClose]="dayIndexWithShowed">
          <span>{{p.fdTime}}</span>
          <span>{{p.fdCustomerName}}</span>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>今日计划</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let p of fdPlans">
          <span>{{p}}</span>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
