page-customer{
  .fdName{
    font-size: 2rem;
    font-weight: 400;
    margin-right: 0.15rem;
    margin-bottom: .1rem;
    color: #333;
  }
  .fdTel{
    font-size: 1.5rem;
    color: #666;
  }
  .fdCompanyName{
    font-size: 1.5rem;
    margin-left:4rem;
    color: #666;
  }
  .fdCall{
    font-size: 3rem;
    color: $taozhui-blue;
  }
  .fdConsumeLevel{
    font-size: 1.4rem;
    color: #666;
  }
  .fdBuyPurpose{
    font-size: 1.4rem;
    color: #666;
  }
  .line-right{
    position: absolute;
    top: .04rem;
    right: 0;
    font-size: .24rem;
  }
}
