<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>查看客户</ion-title>
    <ion-buttons *ngIf="!isAdmin" end>
      <button *ngIf="canDelete()" class="toolbar-button"  (click)="delete($event)">
        <ion-icon name="remove"></ion-icon>
      </button>
      <button class="toolbar-button"  (click)="edit($event)">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header >
      <span>客户信息</span>
      <ion-buttons float-end>
        <button ion-button icon-only clear (click)="isShowCustomerInfo=!isShowCustomerInfo">
          <ion-icon [name]="isShowCustomerInfo?'arrow-dropdown-circle':'arrow-dropleft-circle'"></ion-icon>
        </button>
      </ion-buttons>
    </ion-card-header>
    <ion-card-content >
      <ion-list *ngIf="isShowCustomerInfo">
        <ion-item>
          <ion-label color="primary">客户名称</ion-label>
          <ion-label>{{customer.fdName}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">客户等级</ion-label>
          <ion-label>{{customer.fdGradeName}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">消费档次</ion-label>
          <ion-label>{{customer.fdLevelName}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">购买用途</ion-label>
          <ion-label>{{customer.fdPurposeName}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">客户类型</ion-label>
          <ion-label>{{customer.fdTypeName}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">客户电话</ion-label>
          <ion-label>{{customer.fdStationPhone}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">客户生日</ion-label>
          <ion-label>{{customer.fdBirthDay}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">其它说明</ion-label>
          <ion-label toggleonclick>{{customer.fdMemo}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">客户爱好</ion-label>
          <ion-label>{{customer.fdHobby}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">客户车牌</ion-label>
          <ion-label>{{customer.fdCarNo}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">家庭地址</ion-label>
          <ion-label>{{customer.fdHomeAddr}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">其它电话</ion-label>
          <ion-label>{{customer.fdLinkPhone}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">公司名称</ion-label>
          <ion-label>{{customer.fdCompanyName}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">公司地址</ion-label>
          <ion-label toggleonclick>{{customer.fdCompanyAddr}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <span>合同信息</span>
      <ion-buttons float-end>
        <button ion-button icon-only clear (click)="isShowContractInfo=!isShowContractInfo">
          <ion-icon [name]="isShowContractInfo?'arrow-dropdown-circle':'arrow-dropleft-circle'"></ion-icon>
        </button>
      </ion-buttons>
    </ion-card-header>
     <ion-card-content>
       <ion-list *ngIf="isShowContractInfo">
         <ion-item *ngFor="let c of customer.fdContracts">
           <ion-row>
             <ion-col class="fdStartTime" col-6>{{c.fdStartTime}}</ion-col>
             <ion-col class="lbl-contract-total"  col-6>
               <span>总价</span>{{c.fdTotal}}</ion-col>
           </ion-row>
           <div *ngFor="let p of c.fdProducts">
             <ion-row class="product-area row wrap">
               <span class="lbl-prod-name">{{p.fdName}}</span>
               <span class="fdStartTime col-2">
                 <span>数量</span>
                 {{p.fdNum}}
                 <span>单价</span>{{p.fdRetailPrice}}
                 <span>总价</span>{{p.fdTotal}}
               </span>
             </ion-row>
             <div class="opinion-area wrap" *ngIf="p.fdOpinion&&p.fdOpinion.length>0">
               <span class="lbl-opinion">酒品反馈:</span>
               {{p.fdOpinion}}
             </div>
             <ion-row  *ngIf="!isAdmin">
               <ion-col offset-6 col-12>
                 <button class="button-create-opinion" ion-button (click)="addOpinion(p)">
                   <ion-icon name=""></ion-icon>
                   酒品反馈
                 </button>
               </ion-col>
             </ion-row>
           </div>
         </ion-item>
       </ion-list>
     </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <span>拜访信息</span>
      <ion-buttons float-end>
        <button ion-button icon-only clear (click)="isShowFollowupInfo=!isShowFollowupInfo">
          <ion-icon [name]="isShowFollowupInfo?'arrow-dropdown-circle':'arrow-dropleft-circle'"></ion-icon>
        </button>
      </ion-buttons>
    </ion-card-header>
    <ion-card-content >
      <ion-list *ngIf="isShowFollowupInfo">
        <ion-item *ngFor="let c of customer.fdFollowups" >
          <div>
            <span class="fdTel">{{c.fdTime}}</span>
            <span class="fdCar">{{c.fdType}}</span>
          </div>
          <div>
            <span class="fdBuyPurpose wrap" >{{c.fdContent}}</span>
          </div>
          <div class="fdRemark wrap">{{c.fdGift}}</div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
