<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isShowSearch">客户</ion-title>
    <ion-searchbar *ngIf="isShowSearch"></ion-searchbar>
    <ion-buttons end>
      <button (click)="isShowSearch=!isShowSearch">
        <ion-icon name="search"></ion-icon>
      </button>
      <button  (click)="add($event)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>客户信息</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label color="primary">客户名称</ion-label>
          <ion-input placeholder="客户名称" [(ngModel)]="customer.fdName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">客户等级</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">消费档次</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">购买用途</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">客户类型</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">客户电话</ion-label>
          <ion-input placeholder="客户电话" [(ngModel)]="customer.fdTel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">客户生日</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="customer.fdBirthday"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label color="primary">说明</ion-label>
          <ion-input placeholder="其它说明" [(ngModel)]="customer.fdRemark"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">客户爱好</ion-label>
          <ion-input placeholder="客户爱好" [(ngModel)]="customer.fdBehavior"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">客户车牌</ion-label>
          <ion-input placeholder="客户车牌" [(ngModel)]="customer.fdNo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">家庭地址</ion-label>
          <ion-input placeholder="家庭地址" [(ngModel)]="customer.fdHomeAddr"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">其它电话</ion-label>
          <ion-input placeholder="其它电话" [(ngModel)]="customer.fdCompanyContact"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">公司名称</ion-label>
          <ion-input placeholder="公司名称" [(ngModel)]="customer.fdCompanyName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">公司地址</ion-label>
          <ion-input placeholder="公司地址" [(ngModel)]="customer.fdCompanyAddr"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>合同信息</ion-card-header>
     <ion-card-content>
       <ion-list>
         <button ion-item *ngFor="let c of customer.fdContracts">
           <ion-avatar item-start>
             <ion-icon name="card"></ion-icon>
           </ion-avatar>
           <div>
             <span class="fdName">{{c.fdCustomer.fdName}}</span>
             <span class="fdStartTime">{{c.fdStartTime}}</span>
             <span class="fdTotal">{{c.fdTotal}}</span>
           </div>
           <div>
             <span class="fdProducts">{{c.fdProductsToString()}}</span>
           </div>
         </button>
       </ion-list>
     </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>拜访信息</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let c of customer.fdFollowups" >
          <div>
            <span class="fdTel">{{c.fdTime}}</span>
            <span class="fdCar">{{c.fdType}}</span>
          </div>
          <div>
            <span class="fdBuyPurpose">{{c.fdContent}}</span>
          </div>
          <div class="fdRemark">{{c.fdGift}}</div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
