page-customer-view{
  //产品行的区域
  .product-area{
    margin-left: 0.3rem;
    font-size: 1.5rem;
  }
  //反馈区
  .opinion-area{
    margin-left: 0.4rem;
    font-size: 0.8rem;
  }
  .lbl-prod-name{
    color: #ffb411;
  }
  .lbl-contract-total{
    color: color($colors,primary);
    font-weight: bolder;
  }
  .lbl-prod-total{
    color: #9a4d1b;
    font-weight: bolder;
  }
  .lbl-opinion{
    font-style: italic;
    color: #32FF6B;
  }
  //新建酒口反馈的按钮
  .button-create-opinion{

  }
}
