<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!isShowSearch">客户</ion-title>
    <ion-searchbar *ngIf="isShowSearch" (ionInput)="search($event)"></ion-searchbar>
    <ion-buttons end>
      <button class="toolbar-button" (click)="isShowSearch=!isShowSearch">
        <ion-icon name="search"></ion-icon>
      </button>
      <button class="toolbar-button"  (click)="add($event)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let c of customers">
    <button ion-item  (click)="selected(c);" >
      <button ion-avatar item-start (click)="callCustomer(c)">
        <ion-icon class="fdCall" name="call"></ion-icon>
      </button>
      <div>
        <span class="fdName">{{c.fdName}}</span>
        <span class="fdTel">{{c.fdStationPhone}}</span>
      </div>
      <div class="fdCompanyName">{{c.fdCompanyName}}</div>
      <div *ngIf="selectCustomer==c"  class="line-right" >
        <button>
          <img width="25rem" height="25rem" class="checked" src="assets/imgs/checked.png" />
        </button>
      </div>
    </button>
      <ion-item-options side="left">
        <button ion-button color="primary" (click)="newFollowup(c)">
          <ion-icon name="text"></ion-icon>
          新建拜访
        </button>
        <button ion-button color="primary" (click)="newContract(c)">
          <ion-icon name="text"></ion-icon>
          新建合同
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="hisFollowup(c)">
          <ion-icon name="mail"></ion-icon>
          历史拜访
        </button>
        <button ion-button color="primary" (click)="hisContract(c)">
          <ion-icon name="mail"></ion-icon>
          历史合同
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll threshold="10%" enabled="hasMoreProduct" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
