<ion-header>
  <ion-navbar>
    <ion-title>新客户</ion-title>
    <ion-buttons end>
      <button class="toolbar-button"  ion-button  (click)="save()">
        <ion-icon name="done-all"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>客户信息</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label color="primary">客户名称</ion-label>
          <ion-input placeholder="客户名称" [(ngModel)]="customer.fdName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">客户来源</ion-label>
          <ion-select okText="确定" cancelText="取消"[(ngModel)]="customer.fdSourceId">
            <ion-option value="{{p.id}}" *ngFor="let p of fdSources">{{p.fdName}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary">客户等级</ion-label>
          <ion-select okText="确定" cancelText="取消"[(ngModel)]="customer.fdGradeId">
            <ion-option value="{{p.id}}" *ngFor="let p of fdGrades">{{p.fdName}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary">消费档次</ion-label>
          <ion-select okText="确定" cancelText="取消"[(ngModel)]="customer.fdLevelId">
            <ion-option value="{{p.id}}" *ngFor="let p of fdConsumeLevels">{{p.fdName}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary">购买用途</ion-label>
          <ion-select okText="确定" cancelText="取消"[(ngModel)]="customer.fdPurposeId">
            <ion-option value="{{p.id}}" *ngFor="let p of fdBuyPurposes">{{p.fdName}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary">客户类型</ion-label>
          <ion-select okText="确定" cancelText="取消"[(ngModel)]="customer.fdTypeId">
            <ion-option value="{{p.id}}" *ngFor="let p of fdTypes">{{p.fdName}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary">客户电话</ion-label>
          <ion-input placeholder="客户电话" [(ngModel)]="customer.fdStationPhone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">客户生日</ion-label>
          <ion-datetime cancelText="取消" doneText="确定" placeholder="请指定日期" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="customer.fdBirthDay" ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label color="primary">说明</ion-label>
          <ion-input placeholder="其它说明" [(ngModel)]="customer.fdMemo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">客户爱好</ion-label>
          <ion-input placeholder="客户爱好" [(ngModel)]="customer.fdHobby"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">客户车牌</ion-label>
          <ion-input placeholder="客户车牌" [(ngModel)]="customer.fdCarNo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">家庭地址</ion-label>
          <ion-input placeholder="家庭地址" [(ngModel)]="customer.fdHomeAddr"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">其它电话</ion-label>
          <ion-input placeholder="其它电话" [(ngModel)]="customer.fdLinkPhone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">公司名称</ion-label>
          <ion-input placeholder="公司名称" [(ngModel)]="customer.fdCompanyName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">公司地址</ion-label>
          <ion-input placeholder="公司地址" [(ngModel)]="customer.fdCompanyAddr"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
