<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isShowSearch">商品</ion-title>
    <ion-searchbar *ngIf="isShowSearch" (ionInput)="search($event)"></ion-searchbar>
    <ion-buttons end>
      <button class="toolbar-button" (click)="isShowSearch=!isShowSearch">
        <ion-icon name="search"></ion-icon>
      </button>
      <button class="toolbar-button" (click)="orderSearch()">
        <ion-icon [name]="fdOrder=='+'?'arrow-up':'arrow-down'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button  ion-item detail-none *ngFor="let p of products"  (click)="selected(p)" >
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <img class="product" [src]="p.fdImageUrl" />
          </ion-col>
          <ion-col col-10>
              <div class="title" [innerText]="p.fdName"></div>
              <div class="detail">[{{p.fdProduceArea}}]{{p.fdSpecify}}</div>
              <div class="price">
                <span class="strong" [innerText]="p.fdGardePrice"></span>
                <span class="strong-color">元</span>
                <del></del>
              </div>
              <div class="line-right" >
                <div [innerText]="p.fdProductType"></div>
                <button *ngIf="p.fdIsChecked">
                  <img class="checked" src="assets/imgs/checked.png" />
                </button>
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-list>
  <ion-infinite-scroll threshold="10%" enabled="hasMoreRecords" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
