page-product{
  .title{
    padding-top: .1rem;
    margin-bottom: .12rem;
    font-size: .3rem;
    font-weight: 400;
    color: #333;
  }
  img.product{
    width: 3rem;
    height: 10rem;
  }
  img.checked{
    width: 3rem;
    height: 3rem;
    background:transparent;
  　background-color:rgba(247,243,255,0.15);
  }
  .detail {
    font-size: .5rem;
    margin-bottom: .16rem;
    color: #666;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .price .strong{
    font-size: .48rem;
    color: #06c1ae;
  }
  .price{
    position: absolute;
    bottom: .5rem;
  }
  .price .strong-color{
  font-size: .26rem;
  color: #06c1ae;
  }
  .line-right{
  position: absolute;
  top: .04rem;
  right: 0;
  font-size: .24rem;
  }
}
