<ion-header>
  <ion-navbar>
    <ion-title>{{fdTitle}}</ion-title>
    <ion-buttons end>
      <button class="toolbar-button"  ion-button  (click)="save()">
        <ion-icon name="done-all"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary">日志类型</ion-label>
      <ion-select okText="确定" cancelText="取消"[(ngModel)]="memo.fdType" (ionChange)="fdType_Changed()">
        <ion-option value="日报">日报</ion-option>
        <ion-option value="周报">周报</ion-option>
        <ion-option value="月报">月报</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary">开始日期</ion-label>
      <ion-datetime cancelText="取消" doneText="确定" dataformatas="YYYY-MM-dd" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="memo.fdStartDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="primary">截止日期</ion-label>
      <ion-datetime cancelText="取消" doneText="确定" dataformatas="YYYY-MM-dd" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="memo.fdEndDate"></ion-datetime>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <button ion-button full (click)="createSummaryMemo()">
        {{fdSummaryTitle}}
        <ion-icon name="add" right></ion-icon>
      </button>
    </ion-list-header>
    <button ion-item *ngFor="let p of memo.fdSummaryMemoes;let i=index;" (click)="editSummaryMemo(p)">
      <span>{{i+1}}、</span>
      <span>{{p.fdContent}}</span>
    </button>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <button ion-button full (click)="createPlanMemo()">
        {{fdPlanTitle}}
        <ion-icon name="add" right></ion-icon>
      </button>
    </ion-list-header>
    <button ion-item *ngFor="let p of memo.fdPlanMemoes;let i=index;" (click)="editPlanMemo(p)">
      <span>{{i+1}}、</span>
      <span>{{p.fdContent}}</span>
    </button>
  </ion-list>
</ion-content>

