<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isShowSearch">日志</ion-title>
    <ion-searchbar *ngIf="isShowSearch" (ionInput)="search($event)"></ion-searchbar>
    <ion-buttons end>
      <button class="toolbar-button" (click)="isShowSearch=!isShowSearch">
        <ion-icon name="search"></ion-icon>
      </button>
      <button class="toolbar-button"  (click)="add($event)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
      <button ion-item *ngFor="let c of memoes" (click)="editMemo(c);" >
        <div>
          <span class="fdType">{{c.fdType}}</span>
          <span class="fdStartDate">{{c.fdStartDate}}</span>
          <span >-</span>
          <span class="fdEndDate">{{c.fdEndDate}}</span>
        </div>
        <div>
          <span class="subTitle">业绩：</span>
          <span class="fdAchieve">{{c.fdAchieve}}</span>
        </div>
        <div class="fdRemark">
          <span class="subTitle">计划</span>
          <span class="fdPlanMemo">{{c.fdPlanMemoToString()}}</span>
        </div>
      </button>
  </ion-list>
  <ion-infinite-scroll threshold="10%" enabled="hasMoreRecords" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
