<ion-header>
  <ion-navbar>
    <ion-title>{{fdTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>日志类型</ion-label>
      <ion-select [(ngModel)]="memo.fdType" (ionChange)="fdType_Changed()">
        <ion-option value="日报">日报</ion-option>
        <ion-option value="周报">周报</ion-option>
        <ion-option value="月报">月报</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>开始日期</ion-label>
      <ion-datetime dataformatas="YYYY-MM-dd" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="memo.fdStartDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>截止日期</ion-label>
      <ion-datetime dataformatas="YYYY-MM-dd" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="memo.fdEndDate"></ion-datetime>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <button ion-button full (click)="createSummaryMemo()">
        {{fdSummaryTitle}}
        <ion-icon name="add" right></ion-icon>
      </button>
    </ion-list-header>
    <button ion-item *ngFor="let p of memo.fdSummaryMemo;let i=index;" (click)="editSummaryMemo(p)">
      <span>{{i+1}}、</span>
      <span>{{p.fdContent}}</span>
    </button>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <button ion-button full (click)="createPlanMemo()">
        {{fdPlanTitle}}
        <ion-icon name="add" right></ion-icon>
      </button>
    </ion-list-header>
    <button ion-item *ngFor="let p of memo.fdPlanMemo;let i=index;" (click)="editPlanMemo(p)">
      <span>{{i+1}}、</span>
      <span>{{p.fdContent}}</span>
    </button>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-navbar>
    <button ion-button full round (click)="save()">
      <ion-icon name="create"></ion-icon>
      保存
    </button>
  </ion-navbar>
</ion-footer>
